In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import confusion_matrix
import numpy as np

In [ ]:
df= sns.load_dataset('titanic')
df.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [ ]:
print('Liczba brakujących wartości przed czyszczeniem:')
print(df.isnull().sum())

Liczba brakujących wartości przed czyszczeniem:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df= df.dropna(subset=['age'])
print('Liczba brakujących wartości po czyszczeniu(age) :')
print(df.isnull().sum())

Liczba brakujących wartości po czyszczeniu(age) :
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           530
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
print('liczba brakujących wierszy przed czyszczeniem ', len(sns.load_dataset('titanic')))

liczba brakujących wierszy przed czyszczeniem  891

In [ ]:
print('liczba brakujących wierszy pod czyszczeniu ', len(df))

liczba brakujących wierszy pod czyszczeniu  714

In [ ]:
def categorize_fare(fare, fare_ranges):
  if fare <= fare_ranges[0]:
    return 0
  elif fare <= fare_ranges[1]:
    return 1
  else:
    return 2

In [ ]:
min_fare= df['fare'].min()

In [ ]:
max_fare= df['fare'].max()

In [ ]:
fare_step= (max_fare-min_fare)/3
fare_ranges=[min_fare+fare_step, min_fare+2*fare_step]

In [ ]:
print('Przedziały cenowe biletów:')
print(f'Niska: {min_fare:.2f} - {fare_ranges[0]:.2f}')
print(f'Średnia: {fare_ranges[0]:.2f} - {fare_ranges[1]:.2f}')
print(f'Wysoka: {fare_ranges[1]:.2f} - {max_fare:.2f}')

Przedziały cenowe biletów:
Niska: 0.00 - 170.78
Średnia: 170.78 - 341.55
Wysoka: 341.55 - 512.33

In [ ]:
selected_features=['sex', 'pclass', 'age', 'fare_category']

In [ ]:
df_model=df.copy()
df_model['sex']= df_model['sex'].map({'male':0, 'female': 1} )
df_model['fare_category']= df_model['fare'].apply(lambda x: categorize_fare(x, fare_ranges))

In [ ]:
df_model.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_category
0,0,3,0,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0
1,1,1,1,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,0
2,1,3,1,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,0
3,1,1,1,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,0
4,0,3,0,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0
6,0,1,0,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True,0
7,0,3,0,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False,0
8,1,3,1,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False,0
9,1,2,1,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False,0
10,1,3,1,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False,0

In [ ]:
x= df_model[selected_features]
y= df_model['survived']

In [ ]:
X_train, X_test, y_train, y_test= train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
scaler= StandardScaler()
X_train_scaled= scaler.fit_transform(X_train)
X_test_scaled= scaler.transform(X_test)